[Desktop Entry]
Type=Application
Name=ImageFan Reloaded
Comment=Light-weight, tab-based image viewer, supporting multi-core processing
Categories=Graphics;2DGraphics;RasterGraphics;Viewer;
Icon=io.github.mihnea_radulescu.imagefanreloaded
Exec=ImageFanReloaded
Terminal=false
